1)

In [1]:
# importo pandas perche' e' cosa buona e giusta
import pandas as pd

# leggo file scaricato e creo variabile "dataset", dava errore di formato, con low_memory risolto ;)
dataset = pd.read_csv("owid-covid-data.csv", low_memory=False)

In [2]:
# con .shape scopro che ci sono 376'985 righe e 67 colonne
dataset.shape

(376985, 67)

In [3]:
# con .head vedo le prime righe con rispettive colonne, di default sono cinque
dataset.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [4]:
# con .tail le ultime righe, le ultime dieci in questo caso
dataset.tail(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
376975,ZWE,Africa,Zimbabwe,2024-01-26,266234.0,0.0,7.857,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
376976,ZWE,Africa,Zimbabwe,2024-01-27,266234.0,0.0,7.857,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
376977,ZWE,Africa,Zimbabwe,2024-01-28,266265.0,31.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
376978,ZWE,Africa,Zimbabwe,2024-01-29,266265.0,0.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
376979,ZWE,Africa,Zimbabwe,2024-01-30,266265.0,0.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
376980,ZWE,Africa,Zimbabwe,2024-01-31,266265.0,0.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
376981,ZWE,Africa,Zimbabwe,2024-02-01,266265.0,0.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
376982,ZWE,Africa,Zimbabwe,2024-02-02,266265.0,0.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
376983,ZWE,Africa,Zimbabwe,2024-02-03,266265.0,0.0,4.429,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN
376984,ZWE,Africa,Zimbabwe,2024-02-04,266265.0,0.0,0.000,5737.0,0.0,0.0,...,30.7,36.791,1.7,61.49,0.571,16320539.0,NaN,NaN,NaN,NaN

In [5]:
# ecco le diciture presenti nell'intestazione delle colonne (gli headers)
dataset.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population_density', 'median_age', 'aged_65_older', 'aged_70_older',
       'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate',
       'diabetes_prevalence', 'female_smokers', 'male_smokers',
       'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index', 'population',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376985 entries, 0 to 376984
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    376985 non-null  object
 1   continent                                   358926 non-null  object
 2   location                                    376985 non-null  object
 3   date                                        376985 non-null  object
 4   total_cases                                 338085 non-null  float64
 5   new_cases                                   366116 non-null  float64
 6   new_cases_smoothed                          364886 non-null  float64
 7   total_deaths                                316113 non-null  float64
 8   new_deaths                                  366124 non-null  float64
 9   new_deaths_smoothed                         364894 non-null  float64
 10  total_cases_per_million                     338085 non-null  float64
 11  new_cases_per_million                       366116 non-null  float64
 12  new_cases_smoothed_per_million              364886 non-null  float64
 13  total_deaths_per_million                    316113 non-null  float64
 14  new_deaths_per_million                      366124 non-null  float64
 15  new_deaths_smoothed_per_million             364894 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                38423 non-null   float64
 18  icu_patients_per_million                    38423 non-null   float64
 19  hosp_patients                               39921 non-null   float64
 20  hosp_patients_per_million                   39921 non-null   float64
 21  weekly_icu_admissions                       10580 non-null   float64
 22  weekly_icu_admissions_per_million           10580 non-null   float64
 23  weekly_hosp_admissions                      23974 non-null   float64
 24  weekly_hosp_admissions_per_million          23974 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          82666 non-null   float64
 35  people_vaccinated                           78619 non-null   float64
 36  people_fully_vaccinated                     75474 non-null   float64
 37  total_boosters                              50763 non-null   float64
 38  new_vaccinations                            68465 non-null   float64
 39  new_vaccinations_smoothed                   189136 non-null  float64
 40  total_vaccinations_per_hundred              82666 non-null   float64
 41  people_vaccinated_per_hundred               78619 non-null   float64
 42  people_fully_vaccinated_per_hundred         75474 non-null   float64
 43  total_boosters_per_hundred                  50763 non-null   float64
 44  new_vaccinations_smoothed_per_million       189136 non-null  float64
 45  new_people_vaccinated_smoothed              186629 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  186629 non-null  float64
 47  stringency_index                            197292 non-null  float64
 48  population_density                          320338 non-null  float64
 49  median_age                                  297815 non-null  float64
 50  aged_65_older                               287514 non-null  float64
 51  aged_70_older                               294831 non-null  float64
 52  gdp_per_capita                              291990 non-null  float64
 53  extreme_poverty                             188219 non-null  float64
 54  cardiovasc_death_rate                       292561 non-null  float64
 55  diabetes_prevalence                         307607 non-null  float64
 56  female_smokers                              219597 non-null  float64
 57  male_smokers                                216613 non-null  float64
 58  handwashing_facilities                      143291 non-null  float64
 59  hospital_beds_per_thousand                  258389 non-null  float64
 60  life_expectancy                             347051 non-null  float64
 61  human_development_index                     283731 non-null  float64
 62  population                                  376985 non-null  float64
 63  excess_mortality_cumulative_absolute        13042 non-null   float64
 64  excess_mortality_cumulative                 13042 non-null   float64
 65  excess_mortality                            13042 non-null   float64
 66  excess_mortality_cumulative_per_million     13042 non-null   float64
dtypes: float64(62), object(5)
memory usage: 192.7+ MB

2)

In [7]:
# sommo i nuovi casi per continente non i casi totali, altrimenti sommerei tutti i dati ripetuti e sarebbe un errore logico IMO

dataset.groupby(['continent'])['new_cases'].sum().reset_index().dropna()

       continent    new_cases
0         Africa   13136517.0
1           Asia  301391174.0
2         Europe  252013370.0
3  North America  124526003.0
4        Oceania   14741735.0
5  South America   68752780.0

3)

In [8]:
import pandas as pd

def confronta_statistiche(dataset, continente1, continente2):
    
    df = pd.read_csv(dataset)
    
    # Filtro i dati per continente
    africa = df[df['continent'] == 'Africa']
    asia = df[df['continent'] == 'Asia']
    europe = df[df['continent'] == 'Europe']
    namerica = df[df['continent'] == 'North America']
    oceania = df[df['continent'] == 'Oceania']
    samerica = df[df['continent'] == 'South America']
    
    # Aggiungo le locazioni senza indicazione di continente al totale mondiale (un giorno intero per scoprire come fare...)
    mondo = df[df['continent'].isna()]
    
    # Calcolo i descrittori statistici per i casi totali
    statistiche_continente1 = calcola_statistiche(continente1, df, mondo)
    statistiche_continente2 = calcola_statistiche(continente2, df, mondo)
    
    # Restituisce i risultati
    return statistiche_continente1, statistiche_continente2

def calcola_statistiche(continente, df, mondo):
    continente_df = df[df['continent'] == continente]
    totale_casi_mondo = mondo['total_cases'].sum()
    totale_casi_continente = continente_df['total_cases'].sum()
    
    minimo = continente_df['total_cases'].min()
    massimo = continente_df['total_cases'].max()
    media = continente_df['total_cases'].mean()
    percentuale_mondiale = (totale_casi_continente / totale_casi_mondo) * 100
    
    return {
        'minimo': minimo,
        'massimo': massimo,
        'media': media,
        'percentuale_mondiale': percentuale_mondiale
    }

# Utilizzo della funzione a partire dal file su github (un altro giorno per scoprire come farlo...)
dataset = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv" 
continente1 = input("Scegli il primo continente tra Africa, Asia, Europe, North America. Oceania e South America: ")
continente2 = input("Scegli il secondo continente tra Africa, Asia, Europe, North America. Oceania e South America: ")

statistiche_continente1, statistiche_continente2 = confronta_statistiche(dataset, continente1, continente2)

print(f"Statistiche per il continente {continente1}:")
print(statistiche_continente1)
print(f"Statistiche per il continente {continente2}:")
print(statistiche_continente2)

Scegli il primo continente tra Africa, Asia, Europe, North America. Oceania e South America:  Asia
Scegli il secondo continente tra Africa, Asia, Europe, North America. Oceania e South America:  Europe

Statistiche per il continente Asia:
{'minimo': 1.0, 'massimo': 99330516.0, 'media': 3097088.52098961, 'percentuale_mondiale': 10.61846416775724}
Statistiche per il continente Europe:
{'minimo': 1.0, 'massimo': 38997490.0, 'media': 2614053.5751326988, 'percentuale_mondiale': 10.253220406333764}

4)

In [9]:
import pandas as pd

def confronta_statistiche(dataset, continente1, continente2):
    
    df = pd.read_csv(dataset)
    
    filtro_continente1 = df['continent'] == continente1
    filtro_continente2 = df['continent'] == continente2
    
    # Seleziono i dati relativi ai due continenti specificati
    continente1_df = df[filtro_continente1]
    continente2_df = df[filtro_continente2]
    
    # Aggiungo le locazioni senza indicazione di continente al totale mondiale
    mondo_df = df[df['continent'].isna()]
    
    # Calcolo il totale delle vaccinazioni per ogni continente
    totale_vaccinazioni_continente1 = continente1_df['total_vaccinations'].sum()
    totale_vaccinazioni_continente2 = continente2_df['total_vaccinations'].sum()
    
    # Calcolo i descrittori statistici per i casi totali
    statistiche_continente1 = calcola_statistiche(continente1_df)
    statistiche_continente2 = calcola_statistiche(continente2_df)
    
    # Calcolo la percentuale rispetto al numero di vaccinazioni totali per ogni continente
    percentuale_continente1 = (statistiche_continente1['media'] / totale_vaccinazioni_continente1) * 100
    percentuale_continente2 = (statistiche_continente2['media'] / totale_vaccinazioni_continente2) * 100
    
    # Aggiungo le percentuali alle statistiche
    statistiche_continente1['percentuale_vaccinazioni'] = percentuale_continente1
    statistiche_continente2['percentuale_vaccinazioni'] = percentuale_continente2
    
    # Restituisce i risultati
    return statistiche_continente1, statistiche_continente2

def calcola_statistiche(continente_df):
    minimo = continente_df['total_cases'].min()
    massimo = continente_df['total_cases'].max()
    media = continente_df['total_cases'].mean()
    
    return {
        'minimo': minimo,
        'massimo': massimo,
        'media': media
    }

# Utilizzo della funzione
dataset = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"
continente1 = "Europe"
continente2 = "Asia"

statistiche_continente1, statistiche_continente2 = confronta_statistiche(dataset, continente1, continente2)

print(f"Statistiche per il continente {continente1}:")
print(statistiche_continente1)
print("\n")
print(f"Statistiche per il continente {continente2}:")
print(statistiche_continente2)

Statistiche per il continente Europe:
{'minimo': 1.0, 'massimo': 38997490.0, 'media': 2614053.5751326988, 'percentuale_vaccinazioni': 0.0003603873240700961}


Statistiche per il continente Asia:
{'minimo': 1.0, 'massimo': 99330516.0, 'media': 3097088.52098961, 'percentuale_vaccinazioni': 7.143182039417321e-05}

5)

L'Europa mostra piÃ¹ casi di COVID-19 rispetto al Sud America e all'Oceania, ma anche un tasso di vaccinazioni piÃ¹ elevato, indicando una copertura piÃ¹ alta e una rapida risposta ai programmi d'immunizzazione. Al contrario, il Sud America e l'Oceania presentano una minore incidenza di casi, ma una percentuale di vaccinazioni inferiore, indicando la necessitÃ  di potenziare gli sforzi di immunizzazione.